@font-face {
  font-family: Syne;
  src: url('/fonts/Syne-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Manrope;
  src: url('/fonts/Manrope-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}
