@use 'screens';
@use 'variables';

@keyframes blink {
  from {
    color: variables.$blue;
  }

  to {
    color: variables.$green;
  }
}

@mixin blink {
  animation: blink 0.4s steps(2, jump-none) infinite;

  &:hover {
    animation: blink 0.2s steps(2, jump-none) infinite;
  }
}

@mixin link {
  color: variables.$white;
  transition: color 0.3s variables.$ease-in-out;

  &:hover {
    color: variables.$green;
  }
}

@mixin section {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;

  @include screens.laptop {
    padding: 0;
    gap: 6rem;
  }
}

@mixin section-width {
  width: min(100%, 75rem);
}
