@use 'screens';
@use 'variables';

@keyframes blink {
  from {
    color: variables.$blue;
  }

  to {
    color: variables.$green;
  }
}

@mixin blink {
  animation: blink 0.4s steps(2, jump-none) infinite;
}

@mixin dashed-circle($gradient, $size: 100%) {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-image: $gradient;

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: 50%;
    border: 4px dashed variables.$dark;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 1px;
    border-radius: 50%;
    background-color: variables.$dark;
  }
}

@mixin link {
  padding: 0.5em 0.75em;
  border: 1px solid rgba(variables.$grey, 0.3);
  border-radius: 99rem;
  transition: background-color 0.3s variables.$ease-in-out;

  &:hover {
    background-color: rgba(variables.$grey, 0.1);
  }
}

@mixin mobile-padding {
  padding: 0 1.5rem;

  @include screens.laptop {
    padding: 0;
  }
}

@mixin section {
  @include mobile-padding;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;

  @include screens.laptop {
    gap: 6rem;
  }
}

@mixin section-width {
  width: min(100%, 64rem);
}

@mixin text-stroke($color: variables.$white) {
  color: variables.$dark;
  text-shadow:
    1px 1px $color,
    -1px 1px $color,
    1px (-1px) $color,
    -1px (-1px) $color;

  @include screens.laptop {
    text-shadow:
      2px 2px $color,
      -2px 2px $color,
      2px (-2px) $color,
      -2px (-2px) $color;
  }
}

@mixin image-with-shadow() {
  @include screens.laptop {
    position: relative;
    transition: translate 0.3s variables.$ease-in-out;

    img,
    video {
      width: 100%;
    }

    span {
      position: absolute;
      inset: 0 calc(-1rem + 1px) -1rem 0;
      clip-path: polygon(
        0 0,
        calc(100% - 1rem) 0,
        calc(100% - 1rem) 0,
        calc(100% - 1rem) calc(100% - 1rem),
        0 calc(100% - 1rem),
        0 calc(100% - 1rem)
      );
      z-index: -1;
      transition: clip-path 0.3s variables.$ease-in-out;
    }

    &:hover {
      translate: -0.5rem -0.5rem;

      span {
        clip-path: polygon(
          0 0,
          calc(100% - 1rem) 0,
          100% 1rem,
          100% 100%,
          1rem 100%,
          0 calc(100% - 1rem)
        );
      }
    }
  }
}
