@use 'screens';

@mixin heading-1 {
  font-weight: 600;
  font-size: 3rem;

  @include screens.laptop {
    font-size: 5rem;
  }

  @include screens.desktop {
    font-size: 6rem;
  }
}

@mixin heading-2 {
  font-weight: 600;
  font-size: 2rem;

  @include screens.laptop {
    font-size: 4rem;
  }
}

@mixin heading-3 {
  font-weight: 600;
  font-size: 1.25rem;

  @include screens.laptop {
    font-size: 1.5rem;
  }
}

@mixin paragraph {
  line-height: initial;
}
