/* Colors */
$dark: #0b0b0d;
$grey: #7e7e85;
$white: #fff;
$blue: #69aeff;
$green: #29ffcc;

/* Border radius */
$radius: 1rem;

/* Animations */
$ease-in-out: cubic-bezier(0.4, 0, 0.4, 1);
$smooth: cubic-bezier(0.8, 0, 0.2, 1);
$bounce: cubic-bezier(0.1, 0.8, 0.5, 1.4);
